<header>
    <div class="container arcade">
     <div class="row">
         <div class="col">
             1UP
         </div>
         <div class="col">
             HIGH SCORE
         </div>
     </div>
      
  </div>
  <div class="container arcade1">
     <div class="row">
         <div class="col">
             70
         </div>
         <div class="col">
             92000000
         </div>
     </div>
    </div>
    </header>
     
     <section>
      <div class="row justify-content-between">
    <div class="col-4 email-submit">
      <div class="font-effect-neon effect">
    <h6>NYC launch. Drop E-mail for updates!</h6>
    </div>
    <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
    <button class="btn btn-custom" type="button">Submit</button>
      </div>
    </div>
    <%= image_tag 'squigglyarrow2', :class => "squiggly2" %>
    </div>
    <div class="col-4">
      <%= image_tag 'liveicon.png', :class => "home" %>
    </div>
      </div>
      
      </section>
      
   
<section id="logo-header">
    <div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag 'workicon.png', :class => "work" %>
    </div>
    <div class="col center-block">
      <%= image_tag 'HomebaselogoNOdiscrip.png', :class => "logo" %>
      <p class="lead">Community Live, Work, Workout and Wellness</p>
    </div>
    <div class="col">
      <%= image_tag '2000px-Pacman.svg.png', :class => "pacman" %>
    </div>
  </div>
</div>
         
</section>

<section>
      <div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag 'squigglyarrow1.png', :class => "squiggly1" %>
    </div>
    <div class="col">
      <%= image_tag 'workouticon.png', :class => "workout" %>
    </div>
    <div class="col">
      <%= image_tag 'uparrow.png', :class => "uparrow" %>
    </div>
  </div>
</div>
</section>

<footer>
  <div class="footer-content">
  <div class="no-gutters font-effect-neon">
   <h6>A Futuristic approach to Millennial Living</h6>
   <p class="ice">Community based, short term stay housing;<br>
   Members can Live, Work, Workout and maintain<br>
   Wellness through yoga, meditation &amp; healthy eating. 
   </p>
    </div>
  <div class="no-gutters">
  <%= image_tag 'arrow1.png', :class => "arrow" %>
    </div>
    <div class="no-gutters">
    <%= image_tag 'wellnessicon.png', :class => "wellness" %>
    </div>
   </div>
    
</footer>


