<header>
    <div>
        <%= image_tag 'HomebaselogoNOdiscrip.png', :class => "logo" %>
      <h3 class="logo-text">The next generation of co-living is upon us.</h3>
    </div>
    </header>
    
    <!-- HERO SECTION -->
    
    <section id="info-icon">
      <div class="container">
       <div class="row">
           <div class="col">
           <span class="icon-text">Live</span>
               </div>
           <div class="col">
       <%= image_tag 'liveicon.png', :class => "home icon" %>
               </div>
           <div class="col">
           <p>in our module bases or bunks.</p>
               </div>
       </div>
        </div>
       <div class="container">
           <div class="row">
               <div class="col">
           <span class="icon-text">Work</span>
                   </div>
               <div class="col">
       <%= image_tag 'workicon.png', :class => "work icon" %>
                   </div>
               <div class="col">
           <p>on-site co work space built for mindful productivity.</p>
                   </div>
               </div>
       </div>
       <div class="container">
           <div class="row">
               <div class="col">
           <span class="icon-text">Workout</span>
             </div> 
               <div class="col">
        <%= image_tag 'workouticon.png', :class => "workout icon" %>
                   </div>
               <div class="col">
           <span>on-site gym for people who like to get sh*t done.</span>
                   </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
            <span class="icon-text">Wellness</span>
                    </div>
                <div class="col">
        <%= image_tag 'wellnessicon.png', :class => "wellness icon" %>
                    </div>
                <div class="col">
            <span>on-site classes for mind, body &amp; spirit; body therapy menu, and balanced food options.</span>
                    </div>
        </div>
           </div>
        <div class="container">
            <div class="row">
                <div class="col">
            <span class="icon-text">Homebase</span>
                    </div>
                <div class="col">
        <%= image_tag 'homebasediamond.png', :class => "diamond icon" %>
                    </div>
                <div class="col">
            <span>Co-live, co-work, co-workout, co-wellness.</span>
                    </div>
        </div>
        </div>
        </div>
    </section>
    

    <section>
       <div id="hero">
        <p class="price lead">Starting at <span class="number">$70/night</span></p>
        
        
           
        <p>Coming Soon!</p>
        
        <%= image_tag 'HOMEBASE CHINATOWN.png', :class => "chinatown" %>
       
           </div>
           
    </section>
    
   <section>
        <center>
            <h2 class="mailchimp-text">Drop your e-mail for updates!</h2>
<!-- Begin MailChimp Signup Form -->
<div id="mailchimp">
<form action="https://livehomebase.us12.list-manage.com/subscribe/post?u=aa5c6da9921863ea561b16408&amp;id=f00a4aaa54" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
        

<div class="mc-field-group">

	<input type="email" value="" placeholder="Email Address" name="EMAIL" class="required email email-input" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aa5c6da9921863ea561b16408_f00a4aaa54" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
   </center>
    </section>
    
    
    

    
    <footer>
        <p class="lead">The good life is built with good relationships.</p>
    </footer>
    
    
