<header>
    <div class="container arcade">
     <div class="row">
         <div class="col">
             1UP
         </div>
         <div class="col">
             HIGH SCORE
         </div>
     </div>
      
  </div>
  <div class="container arcade1">
     <div class="row">
         <div class="col">
             $70
         </div>
         <div class="col">
             92000000
         </div>
     </div>
    </div>
    <div>
        <%= image_tag 'HomebaselogoNOdiscrip.png', :class => "logo" %>
        <p class="text-center">Community Live, Work, Workout and Wellness</p>
    </div>
    </header>
    
    <!-- HERO SECTION -->
    
    <section id="info-icon">
       <div class="container">
       <div class="row no-gutter">
       <div class="col">
       <%= image_tag 'liveicon.png', :class => "home icon" %>
       <p class="icon-text">Live</p>
       </div>
       <div class="col">
       <%= image_tag 'workicon.png', :class => "work icon" %>
       <p class="icon-text">Work</p>
       </div>
       <div class="col">
        <%= image_tag 'workouticon.png', :class => "workout icon" %>
        <p class="icon-text">Workout</p>
        </div>
        <div class="col">
        <%= image_tag 'wellnessicon.png', :class => "wellness icon" %>
        <p class="icon-text">Wellness</p>
        </div>
        <div class="col">
        <%= image_tag 'homebasediamond.png', :class => "diamond icon" %>
        <p class="icon-text">Homebase</p>
        </div>
        </div>
        <h6 class="top">A Futuristic approach to Millennial Living</h6>
        <p>Flexible Pricing: Daily, Nightly, 3 Night, Weekly, Monthly, 3 Month and 6 Month</p>
        
        </div>
    </section>
    
    <div class="logo1">
         <%= image_tag 'homebaselotuswhite.png', :class => "house-white" %>
    </div>
    
    
    <section id="hero">
        <h6 class="hero-text"> Community based, short term stay housing; <br>
        Members can Live, Work, Workout and maintain Wellness through yoga, mediatation and healthy eating.</h6>
        <p class="price lead">Starting at <a href="#">$70/night</a></p>
    </section>
    
    <footer>
        <div>
            <h3 class="bottom">Homebase Soho + Homebase Downtown</h3>
            <p>Coming Soon!</p>
    <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
    <button class="btn btn-primary" type="button">Submit</button>
      </div>
    </div>
       <h6 class="top">Drop E-mail For Updates</h6>
        </div>
    </footer>
     
     